<%- include('includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('includes/navigation.ejs') %>
   <section class="section">
     <div class="container has-text-centered">
       <h1 class="title is-size-1">Quiz</h1>
       <h2 class="subtitle is-size-4">Save your contacts</h2>
     </div>
     
   </section>

    <%- include('includes/end.ejs') %>